[Unit]
Description=The Rebirth installation
ConditionPathExists=|/usr/bin
After=network.target
Requires=rebirth-send.service
Requires=rebirth-animate.service

[Install]
WantedBy=multi-user.target
