[Unit]
Description=Workaround unreliability yay

[Service]
Type=oneshot
ExecStart=/bin/sh -c "sudo systemctl stop rebirth.target && sudo systemctl start rebirth.target"
User=pi
