[Unit]
Description=Rebirth installation animate participant
ConditionPathExists=|/usr/bin
After=network.target
StopWhenUnneeded=true

[Service]
Environment=MSGFLO_BROKER=mqtt://localhost REBIRTH_TICKMS=33
User=pi
WorkingDirectory=/home/pi/rebirth
ExecStart=/usr/bin/sh ./participants/run animate anim
RestartSec=3
Restart=always
